.mat-select-panel {
  max-height: 200px; /* Adjust the height as needed */
  overflow-y: auto;
}

.food{
  display: flex;
  flex-flow: row;
  width: 212px;
  height: 56px;
  border-bottom: solid 1px rgb(141, 131, 131);
  border-top: 0px ;
  border-left: 0px ;
  border-right: 0px ;
  background-color: #F5F5F5;
  // z-index: 1000;
}
// .phone-input {
//   width: 100%;
//   position: relative; /* Make the container relative for absolute positioning of the dropdown */
// }
// input,mat-input-element{
//   background-color: aqua;
// }
#phone1{
  flex-flow: column;
  overflow-y: visible;
  // width: 220px;
  // height: 56px;
  // border-bottom: solid 1px rgb(141, 131, 131);
  border-top: 0px ;
  border-left: 0px ;
  border-right: 0px ;
  // background-color: #F5F5F5
  // ;z-index: 100;
}
#phone1:active{
  border-bottom: solid 1px #989292;
  border-top: 1px white;
  border-left: 0px ;
  border-right: 0px ;
  background-color: #ECECEC;
  // background-color: red;

}
// #phone1:focus{

// border: 1px solid aqua;}
// input[type="tel"]:focus {
//   background-color: red($color: #000000);
//   border: 1px solid blue;
//   /* You ca{

  #title{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;

    background: linear-gradient(
      50deg,
      rgba(255, 255, 255, 0.4) 12%,
      rgba(255, 255, 255, 0.1) 77%
    );
    // background-blend-mode: ;
    // box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    // transition: transform 766ms ease-out;
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);

    //>>>>>>>>>>>>
    // animation: yourAnimation 5s linear 0s infinite normal none;

  }

//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

  @keyframes yourAnimation {
    0% {
        transform: scale(1)  ;
    }
    25% {
        transform: scale(1.08);
    }
    100% {
    }
}

#yourTargetElement {
    /* Apply the animation to the target element */
    animation: yourAnimation 5s linear 0s infinite normal none;
}

/* Additional styling for the target element */
// #yourTargetElement {
//     width: 100px; /* Adjust as needed */
//     height: 100px; /* Adjust as needed */
//     background-color: #3498db; /* Adjust as needed */
//     position: relative; /* Ensures proper positioning for transformations */
// }
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

  #title:hover {
    transform: translate(10px, 0px) scale(1.05, 1);
  }

  .lock{
    position:relative;

    top: 1px;
    // padding:100px;
    // background-color: #989292;
    // width:50%;
    transform: translate(-75px, -200px) scale(1, 1);
  }
  lottie-player{
    // background-color: red;
    margin:14px;

  }
  // the main container
  .container{
  width:100vw;
height:100vh;

  display:flex;
  align-items: center;
  // min-width:30vw;
  justify-content: center;
  align-items: center;
  // background-color: #E8E8E8;

  // background: #5a88d8;
background: linear-gradient(219deg,#5a88d8 0%, #00caff 40%, #2cb4e1 80%);
background: -webkit-linear-gradient(219deg,#5a88d8 0%, #00caff 40%, #2cb4e1 80%);
background: -moz-linear-gradient(219deg,#5a88d8 0%, #00caff 40%, #2cb4e1 80%);
  flex-direction: row;
  // margin:14px;
  // background-image: url(../../../assets/register2.jpg);
  background-size: cover;
  // padding : 20px;
}
.form-card{
  margin : 30px 0 60px 0;
  border-radius: 10px;
background: #f4528b;
box-shadow:  33px 33px 45px #b23c65,
             -33px -33px 45px #ff68b1;

  background-color:#ffffff;
// width:600px;
width:fit-content;
// max-width: 500;

position: relative;
display : grid;
font-size: 16px;
box-shadow: 0 0 3px 3px rgba(134, 136, 245, 0.2);
padding:5px 5px 5px 5px;
// grid-template-rows: 1fr 1fr ;
// grid-template-rows: 1fr 1fr 1fr 1fr;
// grid-row: 600px;

;
  ///-----------------------------------------------

// animation: yourAnimation 5s linear 0s infinite normal none;


}
.col-md-6{
background-color: rgb(255, 255, 255);
width: fit-content;

}
.radio{
  justify-content: space-around;
  display:flex;

  background-color: rgb(255, 255, 255);
  width: 387px;
}
.row{
  margin: 10px;
  display:  ruby;
  width:480px;

  display:flex;
  justify-content: center;


}
#rado{
  display:flex;
  justify-content: center;
  align-items: center;
}
#rado2{
  display:flex;
  justify-content:space-between ;
  align-items: center;
  width: 4750px;
}
#label
{
  width: 80px;
  background-color: rgb(255, 255, 255);
}
// #register-btn{
//   width:relative;
//   border-radius: 15px;

// }

.float-end{
  width:fit-content
}
.captcha,.acp{
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;;
}
re-captcha{
  // border: solid rgb(255, 255, 255);
  display:flex;
  align-items: center;
  justify-content: center;
    background-color: #ffffff;
  width:fit-content;
  overflow: no;
}
////????????????????????????????????????/
///
///

/* Responsive styles for screens 650px or narrower */
@media (max-width: 400px) {
  #mccontent{
    width: 100vw;
    padding: 0;
    margin:0;
    background-color: rgb(255, 255, 255);

  }
  // .lock{
  //   width:0px;
  // }
  .container{
    position: relative;
    // left:0;
    // right:0;
    max-width: none; /* Remove the max-width */
  // margin:0;
    width: 100vw; /* Make it full-width on small screens */
    // padding: 10px; /* Increase padding for better spacing */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0;
    // margin-bottom: 20px;
  }
  .form{
    position: relative;
    // left:0;
    // right:0;
    // max-width: none; /* Remove the max-width */
  margin:0;
    // width: 100vw; /* Make it full-width on small screens */
    // padding: 10px; /* Increase padding for better spacing */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0;
    // margin-bottom: 20px;
  }
  .form-card{
    width: 100vw;
    padding: 0;
    margin:0;
    background-color: rgb(255, 255, 255);

  }

  .form-card {
    position: relative;
    // left:0;
    // right:0;
    max-width: none; /* Remove the max-width */
  margin:0;
    width: 100vw; /* Make it full-width on small screens */
    // padding: 10px; /* Increase padding for better spacing */
    display:flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    // height:100vh;
  }

  /* Additional responsive styles */
  #title {
    font-size: 20px; /* Increase font size for better readability */
  }

  .container {
    // min-width: 90vw; /* Wider card on small screens */
  }

  .col-md-6 {
    width: 80vw;
    position: relative;
    font-size: smaller;

    // left:2px;


    /* Full width for form columns */
  }

  .radio {
    width: 80vw;
    /* Full width for radio buttons */
  }

  .row {
    width: 90vw;
    // display: flex;
    // align-items: center;
    // justify-content: center;/* Full width for rows */
  }

  #register-btn {
    width: 100%; /* Full width for the "Sign Up" button */
  }

  .captcha,.acp{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: column;
    position: relative;;
    // overflow:none;
    // padding-left: 40px;
  }
  re-captcha{
    // border: solid rgb(255, 255, 255);
    display:flex;
    align-items: center;
    justify-content: center;
      background-color: #ffffff;
    width:fit-content;
    overflow: no;

  }
}

.error-messages{
  color:red;
  font-size: 15px;
  width:33vw;
  background-color: rgb(249, 249, 249);

}
.error-card{
  width:100vw;
  border-radius: 10px;
  color:rgb(211, 49, 49);
  border-radius: 10px;
  box-shadow: 0 0 3px 3px rgba(205, 216, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

}

@media (max-width: 1000px) {
  .lock {
      display: none;
  }}
#register-btn{
  width:480px;
  border-radius: 25px;
  height: 50px;
  font-size: large;
  color:rgb(255, 255, 255);
  ///-----------------------------------------------
  // animation: yourAnimation 5s linear 0s infinite normal none;
  // background-color: #F7CA00;



}
.apple-login-button,
    .google-login-button{
  width:300px;
  border-radius: 2px;
  height: 50px;
  font-size: large;
  margin-bottom: 7px;;
  ///-----------------------------------------------
  animation: yourAnimation 5s linear 0s infinite normal none;
  // background-color: #F7CA00;

  border-radius: 42px;
  background: #353535;
  // box-shadow:  26px 26px 52px #f0ebeb,
  //              -26px -26px 52px #f1efef;

}
// .apple-login-button,
//     .google-login-button {
//   border-radius: 20px;
//   box-sizing: border-box;
//   padding: 10px 15px;
//   // box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
//   //       rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
//   cursor: pointer;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
//         "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
//   font-size: 11px;
//   gap: 10px;
//   margin-bottom: 10px;
// }

.apple-login-button {
  background-color: #161518;
  color: #fff;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:15px;
  // border: 2px solid #000;
}

.google-login-button {
  border: 2px solid #747474;
  background-color: #f6f1f1;
  display:flex;
  align-items: center;
  justify-content: center;
}

.apple-icon,
    .google-icon {
  font-size: 30px;
  margin-bottom: 1px;
  margin-right: 10px;
}

// >>>>>>>>>>>>>>>>>>>>> loader
.three-body {
  --uib-size: 50px;
  --uib-speed: 0.8s;
  --uib-color: #5D3FD3;
  position: fixed;
  top:50%;
  left:50%;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
 }

 .three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
 }

 .three-body__dot:after {
  content: '';
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
 }

 .three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
 }

 .three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
 }

 .three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
 }

 .three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite
     calc(var(--uib-speed) * -0.15) ease-in-out;
 }

 .three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
 }

 .three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
 }

 @keyframes spin78236 {
  0% {
   transform: rotate(0deg);
  }

  100% {
   transform: rotate(360deg);
  }
 }

 @keyframes wobble1 {
  0%,
   100% {
   transform: translateY(0%) scale(1);
   opacity: 1;
  }

  50% {
   transform: translateY(-66%) scale(0.65);
   opacity: 0.8;
  }
 }

 @keyframes wobble2 {
  0%,
   100% {
   transform: translateY(0%) scale(1);
   opacity: 1;
  }

  50% {
   transform: translateY(66%) scale(0.65);
   opacity: 0.8;
  }
  //.................SECOND LOADER


}
