
<app-header></app-header>
<mat-card class="checkout-card">
  <!-- <mat-card-content> -->
    <h2>Create an account for free</h2>

    <!-- Checkout Form Card -->
    <mat-card class="form-card">
      <mat-card-content id="mccontent">
        <div  id="title">
        <h1 class="card-title"  style="color: rgb(168, 9, 9);font-weight: 500;">
          Create an account for free</h1>
        <h2 class="card-title">No credit card required</h2>
        <!-- Add Angular Material form controls here -->
        </div>
        <!--  form  -->

        <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!-- 1 -->
          <!-- <div class="col-md-6">
            <mat-form-field class="full-width">
              <mat-label for="firstName">First name</mat-label>
              <input
                matInput
                id="firstName"
                placeholder="Type here"
                formControlName="firstName"
                [ngClass]="{'error-border': registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched}"
              />
              <mat-error *ngIf="registerForm.get('firstName')?.hasError('required')">
                First name is required
              </mat-error>
            </mat-form-field>
          </div> -->
          <!--  1 -->
<!--
          <div class="col-md-6 phone">
           <mat-form-field
              class="full-width phone"> -->
          <!-- <mat-label for="phone">tel</mat-label> -->

          <!-- <input
              matInput

type="tel"
                id="phone"

                placeholder="Type here"
                formControlName="tel"
              />
              <mat-error
                *ngIf="registerForm.get('firstName')?.hasError('required')"
              >
                phone is required</mat-error
              > -->
           <!-- - </mat-form-field>-->
 <!-- </div> -->
          <div class="row">


            <!--  2 -->

            <div class="col-md-6">
              <mat-form-field class="full-width">
                <mat-label for="firstName">First name</mat-label>
                <input
                  matInput
                  id="firstName"
                  placeholder="Type here"
                  formControlName="firstName"
                />
                <mat-error
                  *ngIf="registerForm.get('firstName')?.hasError('required')"
                >
                  fist name is required</mat-error
                >
              </mat-form-field>
            </div>
            <!--  -->

            <!--  3 -->

            <div class="col-md-6">
              <mat-form-field class="full-width">
                <mat-label for="lastName">Last name</mat-label>
                <input
                  matInput
                  id="lastName"
                  placeholder="Type here"
                  formControlName="lastName"
                />
                <mat-error
                  *ngIf="registerForm.get('lastName')?.hasError('required')"
                >
                  last name is required</mat-error
                >
              </mat-form-field>
            </div>
            <!--  -->
          </div>
            <!--  4 -->
            <div class="row">
            <div class="col-md-6">
              <mat-form-field class="full-width">
                <mat-label for="phone1">phone</mat-label>
                <input
                  matInput
                  id="phone1"
                  placeholder="123 4567 890"
                  formControlName="phone"
                />
                <mat-error *ngIf="registerForm.get('phone')?.hasError('required')">Phone number is required.</mat-error>
                <mat-error *ngIf="registerForm.get('phone')?.hasError('pattern')">
                  Please enter a valid 10-digit phone number.
                </mat-error>
              </mat-form-field>
            </div>

            <!--  5 -->

            <!-- select country name="country" -->
            <div class="col-md-6">
              <mat-form-field class="full-width">
                <mat-label for="country" >country</mat-label>
                <mat-select

                  id="country"
                  formControlName="country"
                >
                  <mat-option value="">choose a country</mat-option>
                  <mat-option
                    *ngFor="let country of countries"
                    [value]="country.name"
                  >
                    {{ country.name }}
                  </mat-option>
                </mat-select>
                <mat-error
                *ngIf="registerForm.get('country')?.hasError('required')"
              >
                country is required</mat-error
              >
              </mat-form-field>
            </div>
          </div>
                   <!--  6 -->
                   <div class="row">
            <!--  -->
            <div class="col-md-6">
              <mat-form-field class="full-width">
                <mat-label for="email">email</mat-label>
                <input
                  matInput
                  id="email"
                  placeholder="example@gmail.com"
                  formControlName="email"
                />
                <!-- <mat-error
                  *ngIf="registerForm.get('email')?.hasError('pattern')"
                >
                  not correct email format
                </mat-error> -->
                <mat-error
                  *ngIf="registerForm.get('email')?.hasError('required')"
                >
                  email is required</mat-error
                >
                <mat-error *ngIf="registerForm.get('email')?.hasError('email')"
                  >Invalid email format.</mat-error
                >
              </mat-form-field>
            </div>
          <!-- </div> -->

                   <!--  6.1 -->
                   <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <mat-label for="companyName">Company Name</mat-label>
                      <input
                        matInput
                        id="companyName"
                        placeholder="Company Name"
                        formControlName="companyName"
                      />

                      <mat-error
                        *ngIf="registerForm.get('companyName')?.hasError('required')"
                      >
                        Company Name is required</mat-error
                      >


                    </mat-form-field>
                  </div>


               <!--  6.1 -->
              </div>

              <div class="row">
                <!--  -->

                  </div>
            <!--  -->
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <mat-label for="email">Password</mat-label>
                  <input
                    matInput
                    id="password"
                    type="password"
                    placeholder="Enter your password"
                    formControlName="password"
                  />
                  <mat-error *ngIf="registerForm.get('password')?.hasError('required')">Password is required.</mat-error>
  <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 8 characters long.</mat-error>
  
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <mat-label for="confirmPassword">Confirm Password</mat-label>
                  <input
                    matInput
                    type="password"
                    id="confirmPassword"
                    placeholder="Confirm your password"
                    formControlName="confirmPassword"
                  />
                  <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required')">
                    Password Confirmation is required.
                  </mat-error>
                  <!-- <mat-error *ngIf="registerForm.hasError('mismatch')">Passwords do not match. -->
                    <mat-error *ngIf="registerForm.hasError('mismatch')">Passwords do not match.
                    </mat-error>

                </mat-form-field>
              </div>
          </div>
                     <!-- 7 -->
                     <div class="row">
          <div class="col-md-6" id="rado">
            <mat-label id="label">I am a</mat-label>
            <mat-radio-group class="radio" formControlName="userRole">
              <mat-radio-button value="buyer">Buyer</mat-radio-button>
              <mat-radio-button value="seller">Seller</mat-radio-button>
              <mat-radio-button value="both">Both</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
                           <!-- 8 -->
                           <div class="row">
   <div class="col-md-6" id="rado2">
    <mat-label id="label">User Type</mat-label>
    <mat-radio-group class="radio" formControlName="userType">
      <mat-radio-button value="corporate">Corporate</mat-radio-button>
      <mat-radio-button value="individual">Individual</mat-radio-button>

    </mat-radio-group>
  </div>
</div>
          <!-- <mat-checkbox class="mb-3">Keep me up to date on news</mat-checkbox> -->
          <!--  -->
          <!-- <mat-divider></mat-divider> -->
          <!-- <div
  class="g-recaptcha"
  data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
  data-callback="onRecaptchaSuccess"
  data-expired-callback="onRecaptchaResponseExpiry"
  data-error-callback="onRecaptchaError"
>
</div> -->
<mat-divider></mat-divider>
<div class="row captcha">
          <!-- <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha"></ngx-recaptcha2> -->
          <div  class="acp" [hidden]="captcha">
            <!-- <mat-card class="captcha-card"> -->
              <!-- <p>Please enter the code below</p> -->
              <re-captcha
                (resolved)="resolved($event)"
                siteKey="6LdWJeMoAAAAADVMts-U2KHKaeHEdiCwcsKfP7pp"
              ></re-captcha>
            <!-- </mat-card> -->
          </div>
          <div [hidden]="!captcha"></div>

        </div>
          <mat-divider></mat-divider>
          <!-- <re-captcha
          (resolved)="onCaptchaResponse($event)"
          site_key="6LdWJeMoAAAAADVMts-U2KHKaeHEdiCwcsKfP7pp"
          ></re-captcha> -->
          <!-- <mat-checkbox class="mb-3">Save this address</mat-checkbox> -->
          <!-- <mat-divider></mat-divider> -->

          <!-- <recaptcha-container [siteKey]="yourSiteKey"></recaptcha-container> -->

          <!-- <button type="submit" [disabled]="registrationForm.invalid">Register</button>[disabled]="registerForm.invalid" -->
          <!-- <button id="register-btn" type="submit" >Register</button> -->
          <div class="row">
          <!-- <div class="float-end"> -->
            <!-- <button mat-stroked-button color="warn">Cancel</button> -->
            <button id="register-btn" mat-raised-button color="primary" [disabled]="!isCaptchaClicked">Sign Up</button>


          <!-- </div> -->
        </div>
        </form>

        <!--    -->
      </mat-card-content>
    </mat-card>
  <!-- </mat-card-content> -->
</mat-card>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<!-- Error messages card or div -->
<!-- <mat-card *ngIf="hasErrors()" class="error-card">
  <div class="error-messages">
    <mat-error *ngIf="registerForm.get('username')?.hasError('required')"
    >*Username is required.</mat-error
    >
    <mat-error *ngIf="registerForm.get('email')?.hasError('required')"
    >*Email is required.</mat-error
    >
    <mat-error *ngIf="registerForm.get('email')?.hasError('email')"
    >*Invalid email format.</mat-error
    >
    <mat-error *ngIf="registerForm.get('password')?.hasError('required')"
    >*Password is required.</mat-error
    >
    <mat-error *ngIf="registerForm.get('password')?.hasError('pattern')">
      *Password must contain at least 8 characters, including letters and
      numbers.
    </mat-error>
  </div>
</mat-card> -->
<!-- </div> -->

<mat-card *ngIf="hasErrors()" class="error-card">
  <div class="error-messages">
    <mat-error *ngIf="registerForm.get('firstName')?.hasError('required')">First name is required.</mat-error>
    <mat-error *ngIf="registerForm.get('lastName')?.hasError('required')">Last name is required.</mat-error>
    <mat-error *ngIf="registerForm.get('phone')?.hasError('required')">Phone number is required.</mat-error>
    <mat-error *ngIf="registerForm.get('phone')?.hasError('pattern')">Please enter a valid 10-digit phone number.</mat-error>
    <mat-error *ngIf="registerForm.get('email')?.hasError('required')">Email is required.</mat-error>
    <mat-error *ngIf="registerForm.get('email')?.hasError('email')">Invalid email format.</mat-error>
    <mat-error *ngIf="registerForm.get('password')?.hasError('required')">Password is required.</mat-error>
    <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 8 characters long.</mat-error>
    <mat-error *ngIf="registerForm.get('password')?.hasError('pattern')">Password must contain at least one lowercase letter, one uppercase letter, one digit, and one special character.</mat-error>
    <mat-error
    *ngIf="registerForm.get('companyName')?.hasError('required')"
  >
    Company Name is required</mat-error
  >
  </div>
</mat-card>


<mat-divider></mat-divider>
<app-footer></app-footer>
